@model ProyectoFinal.orden

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>orden</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ordenTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ordenTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status.statusNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status.statusNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.usuarioCorreo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.usuarioCorreo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ordenId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
