@model IEnumerable<ProyectoFinal.producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productoNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productoPrecio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productoExistencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoria.categoriaNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subcategoria.subcategoriaNombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productoNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productoPrecio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productoExistencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoria.categoriaNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subcategoria.subcategoriaNombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.productoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.productoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.productoId })
        </td>
    </tr>
}

</table>
