<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
    <link href="~/Content/estilos-personalizados.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/6599bab734.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<!--Colores: Header: #ede5db  Footer:#6d5b4b   Intermedio: #d1b5a3
Fuentes: League Spartan, League Gothic-->

<body>
    <!--Barra de Navegación-->
    <nav class="navbar navbar-expand-lg fixed-top bgp-light">

        <div class="container-fluid ">
            <a class="navbar-brand" href="~/Home/Index">
                <img src="/Imagenes/Logo Tarjeta.svg" alt="" height="70" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active colorp-dark" aria-current="page" href="#">MAQUILLAJE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link colorp-dark" href="#">CUIDADO DE LA PIEL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link colorp-dark" href="#">BLOG</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link active colorp-dark" aria-current="page" href="~/Home/Carrito"><i class="fas fa-shopping-cart"></i></a>
                        </li>*@
                </ul>
                <form class="d-flex">
                    <input class="form-control me-4 bgp-medium" type="search" placeholder="Buscar" aria-label="Buscar">
                    <button class="btn bgp-medium" type="submit"><i class="fas fa-search"></i></button>
                </form>
                <a class="nav-link colorp-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end bgp-dark" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item colorp-light " href="~/Home/InicioSesion">Iniciar Sesión</a></li>
                    <li><a class="dropdown-item colorp-light " href="~/Home/Registro">Registrarse</a></li>
                </ul>
                <a class="nav-link active colorp-dark" aria-current="page" href="~/Home/Carrito"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </nav>

    <div class="container body-content margin">
        @RenderBody()
        <hr />
        @*<nav class="navbar fixed-bottom bgp-dark">
                <div class="container-fluid">
                    <a class="navbar-brand colorp-light" href="#">INFO DEL FOOTER</a>
                </div>
            </nav>*@
    </div>
    <div class="card-footer bgp-dark colorp-light">
        INFO DEL FOOTER
    </div

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
