<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        /* Modify the background light */
        .bgp-light {
            background-color: #ede5db;
        }
        /* Modify the background color */
        .bgp-medium {
            background-color: #d1b5a3;
        }
        /* Modify the text color */
        .textp-dark {
            color: #6d5b4b;
        }
    </style>
</head>

<!--Colores: Header: #ede5db  Footer:#6d5b4b   Intermedio: #d1b5a3
Fuentes: League Spartan, League Gothic-->

<body>
    <!--Barra de Navegación-->
    <nav class="navbar navbar-expand-lg fixed-top bgp-light">

        <div class="container-fluid">
            <!--<a class="navbar-brand navbar-text">LOGO </a>-->
            <a class="navbar-brand" href="#">
                <img src="/Imagenes/NARAM.svg" alt="" width="150"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active textp-dark" aria-current="page" href="~/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link textp-dark" href="~/Home/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link textp-dark" href="~/Home/Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link textp-dark" href="~/Home/Formulario">Formulario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active textp-dark" aria-current="page" href="~/Home/Registro">Registro</a>
                    </li>
                </ul>
                <div class="input-group mb-3">
                    <input type="text" class="form-control bgp-medium" placeholder="Buscar" aria-label="Buscar" aria-describedby="Buscar">
                    <button class="btn bgp-medium" type="button" id="button-buscar"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
