<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        /* Modify the background color */
        .navbar-custom {
            background-color: #ede5db;
        }

            .navbar-custom .navbar-text {
                color: #6d5b4b;
            }

        .search-custom {
            background-color: #d1b5a3;
        }
    </style>
</head>

<!--Colores: Header: #ede5db  Footer:#6d5b4b   Intermedio: #d1b5a3
Fuentes: League Spartan, League Gothic-->

<body>
    <!--Barra de Navegación-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom">

        <div class="container-fluid">
            <a class="navbar-brand navbar-text">
                <img src="/Assets/LogoNavBar.png" style="width: 100px" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active navbar-text" aria-current="page" href="~/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-text" href="~/Home/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-text" href="~/Home/Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-text" href="~/Home/Formulario">Formulario</a>
                    </li>
                </ul>
                <form class="d-flex ">
                    <input class="form-control me-2 search-custom" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success navbar-text" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
