@model ProyectoFinal.carrito

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>carrito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pedidoCantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pedidoCantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pedidoSubtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pedidoSubtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producto.productoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.productoNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.usuarioCorreo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.usuarioCorreo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.carritoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
